.main-items {
    height: calc(100% - 7.5rem);

    @screen md {
        height: calc(100% - 6rem);
    }
}

.pai-listagem-items{
    @apply xl:text-sm ml-3.5 mr-2 overflow-y-auto rounded-lg;

    @screen md{
        @apply md:pt-12;
    }
    @screen lg{
        @apply lg:text-sm lg:bg-white;
    }
}

.li-pai-listagem{
    @apply relative mb-4 flex font-medium flex-col w-full transform cursor-pointer active:scale-95 transition duration-300 rounded-lg bg-white shadow-lg;

    @screen lg{
        @apply lg:flex-row lg:bg-transparent lg:shadow-none;
    }
}

.item-nm-item{
    @apply pl-2 font-semibold overflow-hidden overflow-ellipsis whitespace-nowrap transform active:scale-95 duration-300;

    @screen lg{
        @apply lg:font-medium lg:w-5/12;
    }
}

.item-cd-qualidade{
    @apply pl-2 transform active:scale-95 duration-300;

    @screen lg{
        @apply lg:pl-0 lg:w-2/12 lg:text-center;
    }
}

.item-nm-processo{
    @apply pl-2 overflow-hidden overflow-ellipsis whitespace-nowrap transform active:scale-95 duration-300;

    @screen lg{
        @apply lg:pl-0 lg:w-2/12 lg:text-center
    }
}

.item-nr-revisao{
    @apply pl-2 w-1/12 transform active:scale-95 duration-300;

    @screen lg{
        @apply lg:pl-0 lg:text-center
    }
}

.item-dt-item{
    @apply pl-2 pb-2 transform active:scale-95 duration-300;

    @screen lg{
        @apply lg:pl-0 lg:pb-0 lg:w-2/12 lg:text-center
    }
}

.div-lista-item {
    height: calc(100% - 4rem);

    @apply text-sm font-medium mx-4 pt-10 gap-y-6 flex flex-col overflow-y-auto;

    @screen md{
        @apply md:pt-20;
    }
}