.main-items {
    height: calc(100% - 7.5rem);

    @screen md{
        height: calc(100% - 6rem);
    }
}

li{
    list-style-type: none;
}


.pai-listagem-items{

    height: calc(100% - 6rem);
    @apply w-full overflow-y-auto rounded-lg;

    @screen md{
        @apply pt-12;
    }
    @screen lg{
        @apply text-sm pt-2 bg-white shadow-lg;
    }
}

.li-pai-listagem{
    @apply relative h-12 flex flex-row font-medium transform hover:bg-gray-200 cursor-pointer active:scale-95 transition duration-300  bg-white shadow-lg;

    @screen lg{
        @apply flex-row bg-transparent shadow-none;
    }
}

.div-lista-item {
    height: calc(100% - 4rem);

    @apply text-sm font-medium mx-4 pt-10 gap-y-6 flex flex-col overflow-y-auto;

    @screen md{
        @apply md:pt-20;
    }
}

.titulo-tela-grande{
    @media (min-width: 1300px) {
        @apply text-lg
    }
}

.exibir-titulo{
    @apply hidden;

    @screen md{
        @apply md:mb-2
    }
    @screen lg{
        @apply flex
    }
    
}