.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

.icone-unimed-acima{
    @apply absolute transform -translate-x-1/2 left-1/2 top-10 hidden;

    @screen lg {
        @apply lg:flex
    }
}

.menu-lateral-pai{
    @apply w-full flex flex-col space-y-10 pt-40 font-medium cursor-pointer;

    @screen lg {
        @apply lg:text-sm
    }
}

.formatacao-menu-lateral{
    @apply flex flex-col w-full justify-start;
}

.main-documentos {
    height: calc(100% - 7.5rem);

    @screen md {
        height: calc(100% - 6rem);
    }
}

.filtro {
   @apply mb-2 transform relative cursor-pointer active:scale-90 transition duration-300 top-6 md:top-9;

   @screen lg {

    @apply lg:hidden;
   }
}

.barra-pesquisa-fora-do-modal{
    @apply flex flex-grow;

    @screen md{
        @apply md:w-11/12 md:mr-5;
    }
    @screen lg{
        @apply lg:w-full lg:mx-8;
    }
}

.pai-listagem-documentos{
    @apply ml-5 xl:text-sm mx-4 overflow-y-auto;

    @screen md{
        @apply md:pt-12;
    }
    @screen lg{
        @apply lg:text-sm lg:bg-white;
    }
}

.li-pai-listagem{
    @apply relative mb-4 flex font-medium flex-col w-full transform cursor-pointer active:scale-95 transition duration-300 rounded-lg bg-white shadow-lg;

    @screen lg{
        @apply lg:flex-row lg:bg-transparent lg:shadow-none;
    }
}

.documento-nm-documento{
    @apply pl-2 font-semibold overflow-hidden overflow-ellipsis whitespace-nowrap transform active:scale-95 duration-300;

    @screen lg{
        @apply lg:font-medium lg:w-5/12;
    }
}

.documento-cd-qualidade{
    @apply pl-2 transform active:scale-95 duration-300;

    @screen lg{
        @apply lg:pl-0 lg:w-2/12 lg:text-center;
    }
}

.documento-nm-processo{
    @apply pl-2 overflow-hidden overflow-ellipsis whitespace-nowrap transform active:scale-95 duration-300;

    @screen lg{
        @apply lg:pl-0 lg:w-2/12 lg:text-center
    }
}

.documento-nr-revisao{
    @apply pl-2 w-1/12 transform active:scale-95 duration-300;

    @screen lg{
        @apply lg:pl-0 lg:text-center
    }
}

.documento-dt-documento{
    @apply pl-2 pb-2 transform active:scale-95 duration-300;

    @screen lg{
        @apply lg:pl-0 lg:pb-0 lg:w-2/12 lg:text-center
    }
}

.div-lista-documento {
    height: calc(100% - 4rem);

    @apply text-sm font-medium mx-4 pt-10 gap-y-6 flex flex-col overflow-y-auto;

    @screen md{
        @apply md:pt-20;
    }

}

.reset-browser {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.resolucao-acima-ipad-pro {
    @media (min-width: 1300px) {
        width: 25%;
        display: flex;
    }
}

.resolucao-acima-notebook {
    @media (min-width: 1400px) {
        @apply w-10/12
    }
}