
/////////////////////// BODY ///////////////////////

.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

.reset-browser {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.calculo-altura-pagina{

    @apply h-screen overflow-y-auto;

    @screen md{
        height: calc(100% - 5rem);
    }
}

.largura-listagem-menu-aberto{

    @screen lg{
        width: 75%;
    }
}

.div-cabecalho-main{
    @apply flex flex-row gap-3 mx-4 pb-7;
}

.filtro {
    @apply mb-2 transform relative cursor-pointer active:scale-90 transition duration-300 left-3 top-6 md:top-9;
 
     @screen md{
        @apply left-2
     }
     @screen lg{
        @apply top-8; 
    } 
 }
.svg-filtro{
    @apply w-8 h-8;

    @screen md{
        @apply w-9 h-9 ml-4;
    }
    @screen lg{
        @apply ml-12; 
    } 
}

.class-version{
    @apply hidden text-white text-sm absolute transform -translate-x-0 right-1 top-0;

    @screen lg{
        @apply flex; 
    } 
}

.barra-pesquisa{
    @apply flex flex-grow w-full pl-4 pr-2;

    @screen md{
        @apply md:w-11/12 md:mr-5 pl-5 pr-0;
    }
    @screen lg{
        @apply lg:w-full lg:mx-8;
    }
}

/////////////////////// MENU LATERAL ///////////////////////


.menu-lateral-principal{
    
    background-color: #B6DBCA;
    @apply scrollbar-hide overflow-y-auto pl-4 flex-col bg-cover bg-center absolute w-full z-30 top-0 left-0 h-screen;

    @screen lg{
        width: 25%;
        @apply flex relative;
    }
}

.cabecalho-modal{
    @apply flex flex-row gap-4 mx-4 mb-8;

    @screen md{
        @apply gap-6;
    }
    @screen lg{
        @apply mb-4;
    }
}

.icone-unimed-acima{
    @apply absolute transform -translate-x-1/2 left-1/2 top-10 hidden cursor-pointer;

    @screen lg {
        @apply flex top-3;
    }

    @media (min-width: 1400px) {
        left: 25%;
        @apply top-5 left-1/4;
    }
}

.icone-unimed{

    @apply w-20 h-20 transform active:scale-90 transition duration-300;

    @media(min-width: 1400px){
        width: 135px; 
        height: 50px; 
    }
}

.div-cabecalho{
    @apply flex flex-row gap-4 md:mx-auto;

    @screen md {
        @apply mx-auto;
    }
}

.class-button{
    @apply transform cursor-pointer active:scale-90 duration-300;
}

.svg-arrow-left{
    @apply relative ml-2 w-7 h-7 right-2 top-6;

    @screen md{
        @apply w-8 h-8 ml-4 top-9;
    }
    @screen lg{
        @apply hidden;
    }
}

.limpar-filtro-button{
    @apply top-4 absolute transform -translate-x-1/2 left-1/2;

    @screen md{
        @apply top-6;
    }
}

.div-limpar-filtro{
    @apply relative flex w-48 h-12 rounded-full bg-unimed-white shadow-lg transform cursor-pointer active:scale-95 transition duration-300;

    @screen md{
        @apply w-full;
    }
    @screen lg{
        @apply hidden;
    }
}
.frase-limpar-filtro{
    @apply text-sm my-auto font-semibold;

    @screen md{
        @apply text-lg ml-3 mr-6;
    }
    
}

.menu-lateral{
    @apply pl-2.5 pr-6 pt-10 space-y-5 w-full flex flex-col flex-grow font-medium cursor-pointer;   //relação com div-lista-documento-modal

    @screen md{
        @apply pt-24;
    }
    @media (min-width: 1150px) {
        @apply pt-44 
    }
    @screen lg {
        @apply text-sm pl-0 pr-0 pt-28;
    }
    @media (min-width: 1400px) {
      
        @apply pt-36 
    }
}

.class-form{
    @apply hidden gap-2;

    @screen lg {
        @apply flex;
    }
}

.frase-quant-paginas{
    @apply pl-8 font-semibold;
}

.input-form{
    @apply relative w-10 h-5 pl-2 border-unimed-black rounded-md shadow-lg;

}

.formatacao-menu-lateral{

    @apply space-y-3 font-medium cursor-pointer pl-1 relative bg-white rounded-2xl shadow-xl w-full;

    @screen md {
        @apply text-xl font-medium shadow-none transform relative -translate-x-1/2 left-1/2;
    }
    @screen lg {
        @apply justify-start space-y-3 bg-transparent text-lg items-start left-0 -translate-x-0;
    }
    @media (min-width: 1400px) {
        @apply bg-transparent;
    }
}

.largura-titulo-pai{
    
    @apply pt-2;

    @screen md{
        @apply pt-4; 
    }
    
    @screen lg {
        @apply pt-0;
    }
    @media (min-width: 1400px) {
        @apply w-full
    }
}

.menu-lateral-pai{
    @apply font-medium w-full;

    @screen md{
        @apply font-semibold text-xl mt-2;
    }
    @screen lg{
        @apply text-base font-semibold;
    }
    @media(min-width: 1400px){
        @apply text-lg font-semibold;
    }
}

.formatacao-filho-neto{
    @apply overflow-y-auto;

    @screen lg{
        @apply h-full overscroll-y-none;
    }
}

.menu-lateral-filho{

    @screen lg{
        @apply text-base;
    }
    @media(min-width: 1400px){
        @apply text-base font-medium;
    }
}

.div-formatacao-neto{
    @apply py-3 pl-4 max-h-48 ;

    @screen lg {
        @apply gap-y-1 py-1;
    }
}

.menu-lateral-neto{
    @screen md{
        @apply text-lg 
    }
    @screen lg{
        @apply text-sm pb-2 
    }
    @media(min-width: 1400px){
        @apply text-sm font-medium
    }
}

.div-lista-documento-modal{
    @apply pl-6 pr-6 pt-10 space-y-5;

    @screen md{
        @apply mt-14 space-y-5;
    }
}



input:focus{
    outline: none !important;
    border:1px solid green;
    box-shadow: 0 0 10px #719ECE;
} 