<!-- menu lateral -->
<div class="reset-browser flex flex-row">

	<div class="hidden w-3/12 h-screen lg:flex">

		<aside class="scrollbar-hide overflow-y-auto w-full pl-4 flex-col relative">

			<div class="icone-unimed-acima">
				<img src="assets/imagens/logo-Unimed.svg">
			</div>

			<ul class="menu-lateral-pai">

				<li class="formatacao-menu-lateral" *ngFor="let pai of objArrayGrupoCEQ">

					<itens-ceq class="font-semibold" [b_Open]="b_Open_Doc" [b_Nao_Fecha]="true"
						[subgrupos]="pai.subgrupos" [nm_Item]="pai.nm_Grupo_CEQ">

					</itens-ceq>

					<div class="pt-2 py-2 pl-4" *ngFor="let filho of pai.subgrupos">

						<itens-ceq (onClick)="filho._open = $event" [subgrupos]="filho.subgrupos"
							[nm_Item]="filho.nm_Grupo_CEQ">

						</itens-ceq>

						<ng-container *ngIf="filho._open">

							<div class="py-2 gap-y-2" *ngFor="let neto of filho.subgrupos">
								<itens-ceq [subgrupos]="neto.subgrupos" [nm_Item]="neto.nm_Grupo_CEQ" (click)="Filter_Menu(neto)">

								</itens-ceq>
							</div>
						</ng-container>
					</div>
				</li>
			</ul>
		</aside>
	</div>

	<main class="h-screen w-full xl:w-9/12 resolucao-acima-notebook">

		<!-- barra de pesquisa -->
		<div class="flex flex-row gap-4 md:gap-6 mx-4 mb-8 lg:mb-4">

			<!-- Filtro-->
			<div class="filtro" (click)="Mostrar_Modal()">
				<img class="w-8 h-8 md:w-9 md:h-9 md:ml-4" src="assets/icons/filter-three-lines.svg">
			</div>

			<!-- barra de pesquisa -->
			<uni-search-bar class="barra-pesquisa-fora-do-modal" [control]="modelChanged"></uni-search-bar>

		</div>

		<div class="main-documentos w-full flex relative">

			<div class="w-full flex flex-col">

				<!-- titulo dos documentos -->
				<ul class="w-full relative">
					<li class="hidden md:mb-4 lg:flex">
						<div class="font-semibold text-base text-center pt-10 xl:block {{objeto.nm_Classe}}"
							*ngFor="let objeto of objArrayTitulos">
							{{objeto.nm_Titulo}}
						</div>
					</li>
				</ul>

				<!-- listagem documentos -->
				<ul class="pai-listagem-documentos">

					<li class="li-pai-listagem" (click)="Buscar_Arquivo(documento.cd_Documento)"
						*ngFor="let documento of objArrayDocumentos">
						<div [title]="documento.nm_Documento" class="documento-nm-documento">
							{{documento.nm_Documento | camelcase}}
						</div>
						<div [title]="documento.cd_Qualidade" class="documento-cd-qualidade">
							{{documento.cd_Qualidade}}
						</div>
						<div [title]="documento.nm_Processo" class="documento-nm-processo">
							{{documento.nm_Processo}}
						</div>
						<div [title]="documento.nr_Revisao" class="documento-nr-revisao">
							rev{{documento.nr_Revisao}}
						</div>
						<div [title]="documento.dt_Documento" class="documento-dt-documento">
							{{documento.dt_Documento}}
						</div>
					</li>
				</ul>
				<div class="mx-auto pt-11 lg:pt-0 w-6/12 h-6/12 lg:w-4/12 lg:h-4/12"
					*ngIf="objArrayDocumentos.length == 0">
					<img src="assets/imagens/table-empty-nada-encontrado.svg">
					<div class="text-center text-lg pt-9">Nenhum documento foi encontrado </div>
				</div>
				<uni-paginator class="mb-2 md:mb-10 md:mt-5 lg:mb-0" [nr_Pagina]="nr_Page" [nr_Registros]="nr_Registros"
					[nr_Por_Pagina]="nr_Page_Length" (onPageChange)="Mudar_Pagina($event)"></uni-paginator>
			</div>
		</div>
	</main>
</div>

<!-- modal -->

<div style=" background-image: url('assets/imagens/SVG_Background_White_Green.svg'); transition: all 0.15s easy 0s;"
	class="bg-cover bg-center w-full h-screen absolute top-0 left-0 z-30 " *ngIf="b_Mostrar_Modal">

	<!-- botão de voltar -->

	<div class="flex flex-row gap-4 md:gap-6 mx-4 lg:mb-4">

		<button class="transform cursor-pointer active:scale-90 transition duration-300"
			(click)="b_Mostrar_Modal=false">

			<img class="relative w-8 h-8 md:w-9 md:h-9 md:ml-4 top-2 md:top-6"
				src="assets/imagens/arrow-left-green.svg">
		</button>

		<!-- pesquisa-->

		<uni-search-bar class="flex flex-grow md:mr-5" [control]="modelChanged"></uni-search-bar>

	</div>

	<div class="div-lista-documento">

		<ul class="relative bg-white rounded-2xl py-2 shadow-lg w-full md:text-lg md:w-3/4 md:mx-auto"
			*ngFor="let pai of objArrayGrupoCEQ">

			<itens-ceq class="font-medium" (onClick)="pai._open= $event" [subgrupos]="pai.subgrupos"
				[nm_Item]="pai.nm_Grupo_CEQ">

			</itens-ceq>

			<div *ngIf="pai._open">

				<div class="pt-2 pl-5" *ngFor="let filho of pai.subgrupos">

					<itens-ceq (onClick)="filho._open = $event" [subgrupos]="filho.subgrupos"
						[nm_Item]="filho.nm_Grupo_CEQ">
					</itens-ceq>

					<ng-container *ngIf="filho._open">

						<div class="pl-5 pt-2" *ngFor="let neto of filho.subgrupos">
							<itens-ceq [subgrupos]="neto.subgrupos" [nm_Item]="neto.nm_Grupo_CEQ">

							</itens-ceq>
						</div>

					</ng-container>
				</div>
			</div>
		</ul>
	</div>
</div>