<!-- <div class="flex w-screen h-screen pr-8 justify-end space-x-8 just ">

  <div class="space-y-6 hidden md:block">
    <div
      class="flex justify-center items-center mt-32 text-center h-7 w-48 ml-1 p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-300">
      SGQ</div>
    <div
      class="flex justify-center items-center mt-32 text-center h-7 w-48 ml-1 p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-300">
      SGQ</div>
    <div
      class="flex justify-center items-center mt-32 text-center h-7 w-48 ml-1 p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-300">
      SGQ</div>
    <div
      class="flex justify-center items-center mt-32 text-center h-7 w-48 ml-1 p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-300">
      SGQ</div>
    <div
      class="flex justify-center items-center mt-32 text-center h-7 w-48 ml-1 p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-300">
      SGQ</div>
    <div
      class="flex justify-center items-center mt-32 text-center h-7 w-48 ml-1 p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-300">
      SGQ</div>
    <div
      class="flex justify-center items-center mt-32 text-center h-7 w-48 ml-1 p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-300">
      SGQ</div>
  </div>
  <div class="w-full h-full flex bg-white text-black p-6 mt-16 shadow-md rounded-2xl">
    <div class="mr-6"></div>
    <ul class="w-full flex flex-col">
      <li class="w-full grid grid-cols-5 ">
        <div>
          Nome
        </div>
        <div>
          Processos
        </div>
        <div>
          Código
        </div>
        <div>
          Revisão
        </div>
        <div>
          Data
        </div>
      </li>
    </ul>
  </div>
</div> -->

<div class="h-screen w-full  relative flex overflow-hidden">

  <!-- Sidebar -->

  <aside class=" h-full hidden w-80 pl-4 flex-col pt-36 text-sm relative text-white md:flex ">
    <ul class="w-full flex flex-col space-y-12 font-normal cursor-pointer">
      <li class=" flex w-full justify-start transition transform hover:-translate-y-px "
        *ngFor="let item of ArrayLista; let i = index;">
        <svg class=" inline-block mr-2" width="20" height="20" viewBox="0 0 35 35" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M20.4168 2.91669H8.75016C7.97661 2.91669 7.23475 3.22398 6.68777 3.77096C6.14079 4.31794 5.8335 5.05981 5.8335 5.83335V29.1667C5.8335 29.9402 6.14079 30.6821 6.68777 31.2291C7.23475 31.7761 7.97661 32.0834 8.75016 32.0834H26.2502C27.0237 32.0834 27.7656 31.7761 28.3126 31.2291C28.8595 30.6821 29.1668 29.9402 29.1668 29.1667V11.6667L20.4168 2.91669Z"
            stroke="#00995D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M20.4165 2.91669V11.6667H29.1665" stroke="#00995D" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M23.3332 18.9583H11.6665" stroke="#00995D" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M23.3332 24.7917H11.6665" stroke="#00995D" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        {{item.nome}}

      </li>
    </ul>
  </aside>

  <!-- Barra de Pesquisa -->

  <div class="w-full h-full flex flex-col justify-between">

    <header class="h-28 pt-2 w-full items-center relative px-5 space-x-10 ">

      <div class="flex flex-shrink-0 items-center justify-end pr-20 pt-1 space-x-4 text-white">

        <!-- Filtro-->
        <div class="transition transform hover:-translate-y-px cursor-pointer">
          <svg width="62" height="62" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.25018 5.61C6.27018 8.2 10.0002 13 10.0002 13V19C10.0002 19.55 10.4502 20 11.0002 20H13.0002C13.5502 20 14.0002 19.55 14.0002 19V13C14.0002 13 17.7202 8.2 19.7402 5.61C20.2502 4.95 19.7802 4 18.9502 4H5.04018C4.21018 4 3.74018 4.95 4.25018 5.61Z" fill="white"/>
            </svg>    
        </div>

        <div class="w-2/5 relative mt-1 transition transform hover:-translate-y-1">
          <input type="text" id="password"
            class="w-full rounded-full pl-6 pr-10 py-5 border-2 border-gray-200  focus:ring-unimed-purpe focus:border-transparent"
            placeholder="Digite o que procura...">

          <!-- icone pesquisa-->

          <div class="absolute right-2 top-2 rounded-full w-14 h-14 bg-unimed-purpe cursor-pointer">
            <svg class="relative top-2 left-2" width="40" height="41" viewBox="0 0 43 41" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d=" M30.5044 25.9043H28.6179L27.9492 25.2791C30.2895 22.6393 31.6984 19.2122 31.6984 15.4841C31.6984 7.17107 24.7492 0.432648 16.1761 0.432648C7.60303 0.432648 0.653809 7.17107 0.653809 15.4841C0.653809 23.7971 7.60303 30.5356 16.1761 30.5356C20.0209 30.5356 23.5552 29.1694 26.2776 26.9001L26.9223 27.5484V29.3778L38.8626 40.9326L42.4208 37.4824L30.5044 25.9043V25.9043ZM16.1761 25.9043C10.2299 25.9043 5.42991 21.25 5.42991 15.4841C5.42991 9.71824 10.2299 5.06387 16.1761 5.06387C22.1224 5.06387 26.9223 9.71824 26.9223 15.4841C26.9223 21.25 22.1224 25.9043 16.1761 25.9043Z"
                fill="white " />
            </svg>
          </div>
        </div>
      </div>
    </header>

    <!-- Main -->
    <main class=" max-w-full h-full flex relative overflow-y-hidden ">
      <!-- Container -->

      <table class="w-full bg-white rounded-t-2xl">
        <tr class="">
          <th>
          </th>
          <th class="" *ngFor="let objeto of ArrayTitulos">
            {{objeto.nm_Titulo}}
          </th>
        </tr>
        <tr class="mr-20 transition transform hover:-translate-y-1 cursor-pointer"
          *ngFor="let documento of ArrayDocumentos">
          <td class="pl-12">
            <svg-icon [src]="documento.nm_Caminho_Imagem " [svgStyle]="{ 'width.px':30, 'height.px':30 }"></svg-icon>
          </td>
          <td class="text-center">
            {{documento.nm_Codigo}}
          </td>
          <td class="text-center">
            {{documento.nm_Processo}}
          </td>
          <td class="text-center">
            {{documento.nm_Documento}}
          </td>
          <td class="text-center">
            {{documento.nr_Revisao}}
          </td>
          <td class="text-center">
            {{documento.dt_Revisao | date: 'dd/MM/yyyy'}}
          </td>
          <div>
          </div>
        </tr>
      </table>
    </main>
  </div>
</div>