:host(.disabled) {
    pointer-events: none;
}

:host {
    width: 100%;

    button {
        height: 58px;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        line-height: 0;
    }
}

.btn-primary {
    background: var(--verde-unimed);
    border-radius: 30px;
    outline: none;
    padding: 1rem;
    width: 100%;
    border: 2px var(--verde-unimed) solid;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-medium);
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity 280ms;

    &:hover,
    &:focus {
        opacity: 0.8;
        transition-duration: 280ms;
    }

    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }

    &:disabled,
    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.btn-close {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
        cursor: pointer;
        opacity: 0.76;
    }

    &:active {
        transform: scale(0.92);
    }
}

.btn-pink {
    background: var(--rosa-unimed);
    border-radius: 30px;
    outline: none;
    padding: 1rem;
    width: 100%;
    border: 2px var(--rosa-unimed) solid;
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-medium);
    color: #FFFFFF;
    transition-duration: 280ms;
    cursor: pointer;

    &:hover,
    &:focus {
        opacity: 0.8;
        transition-duration: 280ms;
    }

    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }

    &:disabled,
    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.btn-outline {
    background: none;
    border-radius: 30px;
    outline: none;
    padding: 1rem;
    width: 100%;
    border: 2px solid;
    font-style: normal;
    font-weight: normal;
    color: var(--laranja-unimed);
    cursor: pointer;

    @apply border-unimed-orange font-medium text-unimed-orange;

    &.btn-outline-small {
        font-size: 0.75rem;
        padding: 2px 12px;
        display: inline-block;
        width: auto;
    }

    &.btn-outline-secondary {
        border-color: #C4CBCF;
        
        @apply text-unimed-darkgray;
    }

    &:hover,
    &:focus {
        opacity: 0.8;
        transition-duration: 280ms;
    }

    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }

    &:disabled,
    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.btn-yellow {
    border-radius: 30px;
    outline: none;
    padding: 1rem;
    width: 100%;
    border: 2px solid;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    transition-duration: 280ms;
    cursor: pointer;

    @apply bg-unimed-yellow border-unimed-yellow font-medium;

    &:hover,
    &:focus {
        opacity: 0.8;
        transition-duration: 280ms;
    }

    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }

    &:disabled,
    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.btn-action {
    display: inline-block;
    background: #00995D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.72rem;
    cursor: pointer;
    outline: none;

    @apply font-normal;

    &:hover,
    &:focus {
        cursor: pointer;
        opacity: 0.76;
    }

    &:active {
        transform: scale(0.92);
    }
}



.btn-fill {
    border-radius: 8px;
    outline: none;
    padding: 1rem;
    text-align: center;
    width: 100%;
    border: 2px solid;
    font-style: normal;
    font-weight: normal;
    font-size: 1.15rem;
    color: #FFFFFF;
    transition-duration: 280ms;
    cursor: pointer;

    @apply bg-unimed-gray border-unimed-gray;

    &:hover,
    &:focus {
        opacity: 0.8;
        transition-duration: 280ms;
    }

    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }

    &:disabled,
    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &.btn-fill-orange {

        @apply bg-unimed-orange border-unimed-orange;
    }

    &.btn-fill-gray-dark {
        
        @apply bg-unimed-gray border-unimed-darkgray;
    }
}

.btn-modal {
    border-radius: 8px;
    outline: none;
    padding: 1rem;
    width: 100%;
    border: 2px solid;
    font-style: normal;
    font-weight: normal;
    color: #FFF;
    cursor: pointer;

    @apply bg-unimed-green border-unimed-green font-medium;

    &.btn-modal-small {
        font-size: 0.75rem;
        padding: 2px 12px;
        display: inline-block;
        width: auto;
    }

    &.btn-modal-secondary {
        border-color: #C4CBCF;
        @apply text-unimed-darkgray;
    }

    &:hover,
    &:focus {
        opacity: 0.8;
        transition-duration: 280ms;
    }

    &:active {
        transform: scale(0.92);
        transition-duration: 280ms;
    }

    &:disabled,
    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}