<main class="w-full h-screen flex">

    <div class="largura-menu-laral">

        <div class="formatacao-botao-logo-unimed">
            <img src="assets/imagens/logo-Unimed.svg">
        </div>

        <ul class="modal-icones" *ngIf="b_Mostrar_Modal">

            <li class="li-hospital-icone" (click)="Get_Filtro_Page_Ramais(2)">

                <div class="icone-hospital-formatacao">
                    <img class="icone-hospital "
                        src="assets/imagens/hospital-unimed.svg">
                </div>
                <div class="icone-hospital-texto {{cd_Origem == 2? nm_Text_Orange: ''}}">
                    Hospital Unimed
                </div>
            </li>

            <li class="li-operadora-icone" (click)="Get_Filtro_Page_Ramais(1)">
                <div class="icone-operadora-formatacao">
                    <img class="icone-operadora"
                        src="assets/imagens/operadora.svg">
                </div>
                <div
                    class="icone-operadora-texto {{cd_Origem == 1? nm_Text_Orange: ''}}">
                    Operadora
                </div>
            </li>

            <li class="li-contatos-uteis-icone" (click)="Get_Filtro_Page_Ramais(0)">
                <div class="contatos-uteis-formatacao">
                    <img class="icone-contatos-uteis" src="assets/imagens/contatos-uteis.svg">
                </div>
                <div
                    class="icone-contatos-uteis-texto {{cd_Origem == 0? nm_Text_Orange: ''}}">
                    Contatos úteis
                </div>
            </li>

            <li class="li-filtrar-todos" (click)="Trazer_Todos()">
                <div class="filtrar-todos-formatacao">
                    <img class="icone-filtrar-todos" src="assets/imagens/trazer-todos.svg">
                </div>
                <div class="icone-filtrar-todos-texto">
                    Filtrar todos
                </div>
            </li>
        </ul>

    </div>

    <div class="body-ramais">

        <div class="header">

            <div class="filtro" (click)="Mostrar_Modal()">
                <img class="filtro-icone" src="assets/icons/filter-three-lines.svg">
            </div>

            <ng-container>
                <uni-search-bar class="barra-pesquisa" [control]="modelChanged"></uni-search-bar>
            </ng-container>
        </div>

        <div class="menu-rolagem">

            <div class="formatacao-menu-rolagem">

                <div *ngIf="b_Exibir_Rolagem_Verde_Menu" class="barra-rolagem" [style.transform]="'translate('+ nr_Posicao * 100 +'%)'">
                </div>
                <div class="largura-texto-menu" (click)="nr_Posicao = 0; Get_Filtro_Page_Ramais(2)">
                    <span 
                        class="menu-rolagem {{nr_Posicao == 0?'text-white':'text-black'}}">Hopital Unimed</span>
                </div>
                <div class="largura-texto-menu" (click)="nr_Posicao = 1; Get_Filtro_Page_Ramais(1)">
                    <span
                        class="menu-rolagem {{nr_Posicao == 1?'text-white ':'text-black'}}">Operadora</span>
                </div>
                <div class="largura-texto-menu" (click)="nr_Posicao = 2; Get_Filtro_Page_Ramais(0)">
                    <span
                        class="menu-rolagem {{nr_Posicao == 2?'text-white':'text-black'}}">Contatos úteis</span>
                </div>
                <div class="largura-texto-menu" (click)="nr_Posicao = 3; Trazer_Todos()">
                    <span 
                        class="menu-rolagem {{nr_Posicao == 3?'text-white':'text-black'}}">Trazer tudo</span>
                </div>
            </div>
        </div>

        <div class="rounded-lg">
            <div class="calculo-largura">
                <ul class="ul-formatacao-menu">
                    <li class="li-formatacao-titulo {{documento.nm_Classe}}"
                        *ngFor="let documento of objArrayTitulos">
                        <div>
                            {{documento.nm_titulo}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div #listaRamais class="cdk-ramais">
            <cdk-virtual-scroll-viewport class="virtual-scroll" [itemSize]="10" minBufferPx="700" maxBufferPx="700" >

                <div class="virtual-scroll-formatacao"
                (click)="Expandir_Card(pessoa)" *cdkVirtualFor="let pessoa of objArrayRamais">

                    <div class="formatacao-ramais {{objArrayRamais.length <= 6?'mr-10':''}}" >

                        <div class="largura-inicial-pessoa">
                            <div class="formatacao-pessoa-circulo">
                                <div class="pessoa-circulo-posicao">
                                    {{pessoa.nm_Pessoa | firstLetterName}}
                                </div>
                            </div>
                        </div>
                        <div class="campos-formatacao">

                            <div [title]="pessoa.nm_Pessoa | camelcase"
                                class="pessoa-formatacao">
                                {{pessoa.nm_Pessoa | camelcase}}
                            </div>

                            <ng-container class="items-center" *ngIf="pessoa.open">
                                <span [title]="pessoa.nm_Departamento | camelcase"
                                    class="departamento-formatacao">
                                    <b class="lg:hidden"> Setor:</b>
                                    {{pessoa.nm_Departamento | camelcase}}
                                </span>

                                <div
                                    class="ramais-formatacao {{pessoa.nr_Ramal == ''? 'justify-items-start': ''}}">
                                    <b class="lg:hidden">Contato(s):</b>
                                    {{pessoa.nr_Ramal}}<br>{{pessoa.nr_Telefone}}
                                </div>

                                <span [title]="pessoa.ds_Email"
                                    class="email-formatacao">
                                    <b class="lg:hidden">Email:</b>
                                    {{pessoa.ds_Email}}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div *ngIf='objArrayRamais.length == 0'>
                    <div class="formatacao-svg-nada-encontrado">
                        <img src="assets/imagens/table-empty-nada-encontrado.svg" alt="">
                    </div>
                    <div class="texto-nada-encontrado"> Os contatos não foram
                        encontrados
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>

    <div class="modal-sobreposicao" *ngIf="b_Mostrar_Modal"
        (click)="b_Mostrar_Modal=false">
    </div>

</main>