<main class="w-full h-screen flex">

    <!-- Menu Lateral -->
    <div class="largura-menu-laral lg:hidden relative">

        <!-- Icone Unimed-->
        <div class="formatacao-botao-logo-unimed">
            <img src="assets/imagens/logo-Unimed.svg">
        </div>

        <ul class="modal-icones" *ngIf="b_Mostrar_Modal">

            <li class="li-hospital-icone" (click)="Get_Filtro_Page_Ramais(2)">

                <div class="pl-4 md:pl-5 md:pt-8">
                    <img class="w-12 h-12 md:w-20 md:h-20 lg:hidden lg:w-20 lg:h-20 xl:w-16 xl:h-16 "
                        src="assets/imagens/hospital-unimed.svg">
                </div>
                <div class="icone-hospital {{cd_Origem == 2? nm_Text_Orange: ''}}">
                    Hospital Unimed
                </div>
            </li>

            <li class="flex transform active:scale-95 cursor-pointer duration-300" (click)="Get_Filtro_Page_Ramais(1)">
                <div class="pt-4 pl-4 md:pl-5 lg:pt-8">
                    <img class="w-12 h-12 md:w-20 md:h-20 lg:hidden lg:w-20 lg:h-20 xl:w-16 xl:h-16"
                        src="assets/imagens/operadora.svg">
                </div>
                <div
                    class="relative pl-4 top-8 text-sm md:top-10 md:text-lg lg:top-14 lg:hidden {{cd_Origem == 1? nm_Text_Orange: ''}}">
                    Operadora
                </div>
            </li>

            <li class="flex transform active:scale-95 cursor-pointer duration-300" (click)="Get_Filtro_Page_Ramais(0)">
                <div class="pt-4 pl-4 md:pl-5 lg:pt-8">
                    <img class="w-12 h-12 md:w-20 md:h-20 xl:w-16 xl:h-16" src="assets/imagens/contatos-uteis.svg">
                </div>
                <div
                    class="relative pl-4 top-8 text-sm md:top-10 md:text-lg lg:top-14 lg:hidden {{cd_Origem == 0? nm_Text_Orange: ''}}">
                    Contatos úteis
                </div>
            </li>

            <li class="flex transform active:scale-95 cursor-pointer duration-300" (click)="Trazer_Todos()">
                <div class="pt-4 pl-3 md:pl-4 lg:pt-8">
                    <img class="trazer-tudo w-14 h-14 md:w-24 md:h-24" src="assets/imagens/trazer-todos.svg">
                </div>
                <div class="relative pl-4 top-8 text-sm md:top-10 md:text-lg lg:top-14 lg:hidden">
                    Filtrar todos
                </div>
            </li>
        </ul>

    </div>

    <!-- Listagem dos Ramais com a barra de pesquisa -->

    <div class="w-full body-documentos">

        <!-- barra de pesquisa -->
        <div class="flex pb-7 flex-row gap-5 md:ml-12 md:mr-20 mx-3 md:pb-10 lg:pb-6">

            <!-- Filtro-->
            <div class="filtro" (click)="Mostrar_Modal()">
                <img class="w-9 h-9 md:ml-8 lg:ml-16 lg:hidden" src="assets/icons/filter-three-lines.svg">
            </div>

            <!-- barra de pesquisa -->
            <ng-container>
                <uni-search-bar class="barra-pesquisa" [control]="modelChanged"></uni-search-bar>
            </ng-container>
        </div>

        <div class="relative w-9/12 mx-auto ">
            <div class="w-full mx-auto">
            </div>
            <div
                class="hidden h-12 lg:flex items-center text-center shadow-lg mx-auto mb-10 bg-white rounded-full transform cursor-pointer duration-300">
                <div *ngIf="b_Exibir_Rolagem_Verde_Menu"
                    class="hidden lg:flex fixed z-10 h-12 largura-barra rounded-full bg-unimed-green"
                    [style.transform]="'translate('+ nr_Posicao * 100 +'%)'">
                </div>
                <div class="largura-texto-menu" (click)="nr_Posicao = 0; Get_Filtro_Page_Ramais(2)">
                    <span class="text-lg relative z-20 {{nr_Posicao == 0?'text-white':'text-black'}}">Hopital
                        Unimed</span>
                </div>
                <div class="largura-texto-menu" (click)="nr_Posicao = 1; Get_Filtro_Page_Ramais(1)">
                    <span
                        class="text-lg relative text-center z-20 {{nr_Posicao == 1?'text-white ':'text-black'}}">Operadora</span>
                </div>
                <div class="largura-texto-menu" (click)="nr_Posicao = 2; Get_Filtro_Page_Ramais(0)">
                    <span
                        class="text-lg relative text-center z-20 {{nr_Posicao == 2?'text-white':'text-black'}}">Contatos
                        úteis</span>
                </div>
                <div class="largura-texto-menu" (click)="nr_Posicao = 3; Trazer_Todos()">
                    <span class="text-lg relative text-center z-20 {{nr_Posicao == 3?'text-white':'text-black'}}">Trazer
                        tudo</span>
                </div>
            </div>
        </div>
        <div class="rounded-lg">
            <div class="calculo-largura relative z-10 w-full mx-40">
                <ul class="hidden md:mb-2 bg-white lg:flex rounded-lg">
                    <li class="text-center pt-6 pb-4 font-medium text-lg lg:block {{documento.nm_Classe}}"
                        *ngFor="let documento of objArrayTitulos">
                        <div>
                            {{documento.nm_titulo}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div #listaRamais class="body-documentos">
            <cdk-virtual-scroll-viewport [itemSize]="10" minBufferPx="700" maxBufferPx="700"
                class="virtual-scroll shadow-lg md:shadow-none lg:shadow-lg md:mx-20 pl-2 lg:pl-0 lg:-top-14 lg:mx-40 lg:pt-12 rounded-lg h-full lg:bg-white">

                <div class="bg-unimed-white overflow-y-auto py-2 mb-4 md:py-2.5 md:mb-6 lg:ml-3 lg:py-1 lg:mb-3 rounded-lg shadow-lg md:shadow-none lg:hover:bg-gray-200 
                font-medium transform cursor-pointer active:scale-95 transition duration-300"
                (click)="Expandir_Card(pessoa)" *cdkVirtualFor="let pessoa of objArrayRamais ">

                    <!-- essa div está estilizando os nomes que estão vindo do cdkVirtualFor -->
                    <div class="flex flex-row md:text-lg lg:text-base lg:pl-0 lg:pt-1.5 {{objArrayRamais.length <= 6?'mr-10':''}}" >
                        <!-- circulo com as inicias mobile -->
                        <div class="w-1/12 lg:hidden pl-3">
                            <div
                                class="rounded-full xl:hidden bg-unimed-green w-8 h-8 md:w-9 md:h-9 md:top-1 lg:w-11 lg:h-11">
                                <div class="pt-1 md:pt-1 text-center md:text-xl lg:text-2xl lg:pt-1.5 text-white">
                                    {{pessoa.nm_Pessoa | firstLetterName}}
                                </div>
                            </div>
                        </div>
                        <div
                            class="w-11/12 lg:w-full overflow-x-hidden text-sm lg:text-xl xl:text-base flex flex-col gap-y-2 my-auto lg:flex-row">

                            <div [title]="pessoa.nm_Pessoa | camelcase"
                                class="lg:pl-4 lg:w-4/12 pl-6 overflow-hidden overflow-ellipsis whitespace-nowrap ">
                                {{pessoa.nm_Pessoa | camelcase}}
                            </div>

                            <ng-container class="items-center" *ngIf="pessoa.open">
                                <span [title]="pessoa.nm_Departamento | camelcase"
                                    class=" pt-2 mt-3 lg:mt-0 md:pt-3 lg:w-3/12 lg:text-center lg:pt-0 overflow-hidden overflow-ellipsis whitespace-nowrap">
                                    <b class="lg:hidden"> Setor:</b>
                                    {{pessoa.nm_Departamento | camelcase}}
                                </span>

                                <div
                                    class="lg:text-center lg:w-2/12 lg:pl-0 lg:whitespace-nowrap overflow-hidden overflow-ellipsis whitespace-nowrap {{pessoa.nr_Ramal == ''? 'justify-items-start': ''}}">
                                    <b class="lg:hidden">Contato(s):</b>
                                    {{pessoa.nr_Ramal}}<br>{{pessoa.nr_Telefone}}
                                </div>

                                <span [title]="pessoa.ds_Email"
                                    class="lg:w-3/12 lg:text-center mb-4.5 overflow-hidden overflow-ellipsis whitespace-nowrap">
                                    <b class="lg:hidden">Email:</b>
                                    {{pessoa.ds_Email}}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- SVG caso não tenha informação -->
                <div *ngIf='objArrayRamais.length == 0'>
                    <div class="mx-auto pt-11 lg:pt-0 w-6/12 h-6/12 lg:w-3/12 lg:h-3/12">
                        <img src="assets/imagens/table-empty-nada-encontrado.svg" alt="">
                    </div>
                    <div class="text-sm text-center mt-4 md:text-lg md:font-normal"> Os contatos não foram
                        encontrados
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>

    <!-- Modal de Sobreposição -->
    <div class="absolute inset-0 z-0 bg-black opacity-70 xl:hidden cursor-pointer" *ngIf="b_Mostrar_Modal"
        (click)="b_Mostrar_Modal=false">
    </div>

</main>