.body-documentos{
    height: calc(100% - 7rem);

    @screen md{
        height: calc(100% - 8rem);
    }
    
    @screen lg{
        height: calc(100% - 8rem);
    }

    @screen xl{
        height: calc(100% - 8rem);
    }
}

.trazer-tudo{
    @screen lg {
        width: 5rem;
        height: 5rem;
    }
}

.inicias{
    @screen lg {
        display: flex;
    }
}

.largura-pessoa{
    width: 74%;
    @screen md{
        width: 100%
    }
}

.largura-items{
    @apply w-full;

    @screen md{
        width: 100%
    }
}

.cdk-virtual-scroll-content-wrapper {
    position: relative !important;
}

.largura-menu-laral{
    @media (min-width: 1400px) {
        
        width: 16.666667%;
        
    }
}

.acima-xl{
    @media (min-width: 1400px) {
        display: flexbox;
        
    }
}

.filtro {
    @apply mb-2 transform relative cursor-pointer active:scale-90 transition duration-300 left-3 top-6 md:top-9;
 
     @screen md{
         @apply left-2
     }
    
 }

.barra-pesquisa{
    @apply flex flex-grow w-full pl-4 pr-2;

    @screen md{
        @apply md:w-10/12 pb-5 md:mr-5 pr-0;
    }
    @screen lg{
        @apply lg:w-full lg:mx-8;
    }
}

.barra-pesquisa-icone-menu{
    
    @apply relative mx-auto w-full flex flex-row mb-4 pt-4 items-center px-5 h-14;

    @screen md {
        @apply pt-6 px-14 h-24 w-full;
    }
    @screen lg {
        @apply w-10/12 pt-6 h-16;
    }
}

.header-itens{
    @apply flex flex-grow relative w-full rounded-full shadow-lg;
}

.input-class{
    @apply relative w-full flex rounded-full pl-16 py-3 border-2 border-gray-200;
    
    @screen md{
        @apply py-4 pl-24;
    }

    @screen lg{
        @apply py-3 pl-12; 
    }
    @media (min-width: 1400px) {
        @apply pl-12 py-3.5;
    }
}

.formatacao-botao-logo-unimed{
    @apply absolute hidden transform -translate-x-1/2 left-1/2 lg:flex;
}

.position-logo-unimed{
    @screen lg{
        @apply block w-24 h-24 ml-10;
    }
}

.modal-icones{
    transition: all 2s ease;

    @apply absolute left-0 bg-white z-30 w-60 h-full;

    @screen md{
        @apply w-96;
    }
    @screen lg{
        @apply relative h-auto w-full bg-transparent;
    }

}

.li-hospital-icone{
    @apply flex pt-4 transform active:scale-95 cursor-pointer duration-300;

    @screen md{
        @apply pt-2;
    }
    @screen lg {
        @apply mt-36
    }
}

.lupa-icon-pesquisa{

    @apply w-5 h-5 ml-0.5 absolute top-1.5 left-1.5;

    @screen md{
        @apply w-6 h-6 left-2 top-2;
    }
    @screen lg{
        @apply w-5 h-5 left-2 top-2;
    }

    @media (min-width: 1400px) {
        @apply w-6 h-6 left-2.5 top-2.5;
    }
}

.circulo-lupa{
    
    @apply absolute right-2 top-2 rounded-full w-9 h-9 bg-unimed-green transform cursor-pointer active:scale-90 transition duration-300;

    @screen md{
        @apply w-11 h-11 mr-1;
    }
    @screen lg{
        @apply w-10 h-10 top-1.5 right-2;
    }
    @media (min-width: 1400px) {
        @apply w-11 h-11 top-1.5 right-2;
    }
}

