@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
html,
body,
input {
    font-family: "Montserrat", sans-serif;
}
body{
    // background-image: url("assets/imagens/SVG_Background_White_Green.svg");
    @apply bg-cover bg-center bg-gray-200;

}
  ::-webkit-scrollbar {
      width: 10px;
  }
  
  ::-webkit-scrollbar {
      width: 20px;
    }
    
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }


